{{ $paginator := .Paginate (where .Pages "Type" .Type) }} {{ $ctx := . }}
<article class="single__contents single__contents--about" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
Here, you'll find some publications related to my work.
</article>
<div style="padding-top:20px;">
  <ul>
    <li style="font-size:15px;padding-left:30px;">
      📅 May 6, 2021
      <a href="https://www.thoughtworks.com/insights/blog/infrastructure-pipelines">Infrastructure Pipelines</a>
      ✍️ Alaa Mansour, Michael  Lihs
    </li>
  </ul>
</div>
