{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
    <div class="list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        <div class="summary__container" data-display="block">
            {{ $filteredPages := .Site.RegularPages }}
            {{ range $.Param "notAllowedTypesInHome" }}
                {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
            {{ end }}
            {{ $filteredPagesPinned := slice }}
            {{ if .Site.Params.enablePinnedPosts }}
                {{ $filteredPagesPinned = (where $filteredPages "Params.pinned" "==" true) }}
            {{ end }}
            {{ $filteredPages := $filteredPages | intersect (where $filteredPages "Params.pinned" "!=" true) }}
            {{ $filteredPages := $filteredPages | union ($filteredPagesPinned) }}
            {{ $paginator := .Paginate $filteredPages }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
          <div style="padding-top:20px;">
            <h5>
              <a href="https://www.thoughtworks.com/insights/blog/infrastructure-pipelines">Infrastructure Pipelines</a>
            </h5>
            <h6>📅 May 6, 2021 ✍️ Alaa Mansour, Michael  Lihss</h6>
        </div>
        {{ partial "search/search-result-desktop" . }}
    </div>
</main>
{{ partial "script/home-script" . }}
{{ end }}
