<nav class="navbar scrolling" role="navigation" aria-label="main navigation" data-dir="{{ if $.Param "navbardir" }}{{ $.Param "navbardir" }}{{ else }}{{ $.Param "languagedir" | default "ltr" }}{{ end }}">
  <div class="navbar__brand">
    {{ if $.Param "logo" | default true }}
      <a href="{{ "/" | relLangURL }}" title="{{ i18n "tooltip-home" }}" rel="home" class="navbar__title-link">
        <h6 class="navbar__title">{{ .Site.Params.logoText }}</h6>
      </a>
    {{ end }}
    &nbsp;&nbsp;
    {{ range $name, $path := $.Param "socialOptions" }}
      {{ if $path }}
      <a href="{{ $path | safeURL }}" title="{{ $name }}" aria-label="{{ $name }}" style="font-size:0px;margin-right:2px;">
        {{ partial (print "svgs/social/" $name ".svg") (dict "width" 24 "height" 24) }}
      </a>
      {{ end }}
    {{ end }}
    {{ partial "footer/links-feed.html" . }}
  </div>

  {{ partial "navbar/nav-menu-mobile" . }}
  {{ partial "navbar/nav-menu" . }}
</nav>
