.header {
  .title {
    font-family: $title-font;
    font-weight: 300;
  }
}

.site-header {
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);

  &[data-ani='true'] {
    @include animation('fade-in .15s .1s 1 ease-in both');
  }

  &__image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    height: auto;
    @include box-shadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.25));

    &[data-ani='true'] {
      @include animation('slide-in-down-little .2s .6s 1 ease-in both');
    }

    &-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
      margin: 1rem auto;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }
  }

  &__title {
    line-height: 1.2;
    font-weight: 100;
    font-family: $title-font;
  }

  &__subtitle {
    line-height: 1.2;
    text-align: center;
    &[data-cursive='true'] {
      font-family: $cursive-font;
    }
  }

  &__align-left {
    @include align-items(flex-start);
  }

  &__align-center {
    @include align-items(center);
  }

  &__align-right {
    @include align-items(flex-end);
  }
}
